<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>delete record</title>
     <style>
        body {
            background: linear-gradient(to right, #00c9ff, #92fe9d);
        }
    </style  
</head>
      <div class="container mt-5">
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <h2>Remove name from the list</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <form action="/deleterecord" method="post">
                    <div class="form-group">
                       <label for="id">ID</label>
                       <input type="text" class="form-control" name="id">
                       </div>
                       <button style="border: 3px solid black;"type="submit" class="btn btn-primary">Submit</button>
                </form>
             </div>
        </div>
    </div>
</body>
</html>







